# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env

# Node / React
node_modules/
frontend/dist/

# Resultados de pruebas de carga (se generan al ejecutar Locust)
locust/results/*.csv
locust/results/*.json

# Docker volumes (datos locales de postgres y grafana)
postgres_data/
grafana_data/

# macOS
.DS_Store

# LaTeX auxiliares
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf
